.boxInfo{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;    
}
.boxInfo1{
    outline: 3px solid #042f55;
    width: 400px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 5vh;
    font-size: 3vh;
    background-color: #04437B;
    padding: 1vh;
}
.boxInfo button{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 1vh 18vh;
}
.boxInfo2{
    outline: 3px solid #042f55;
    width: 400px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 5vh;
    font-size: 3vh;
    background-color: #04437B;
    padding: 1vh;
}
.boxInfo3{
    outline: 3px solid #042f55;
    width: 400px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 5vh;
    font-size: 3vh;
    background-color: #04437B;
    padding: 1vh;
}
.boxInfo4{
    outline: 3px solid #042f55;
    width: 400px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 5vh;
    font-size: 3vh;
    background-color: #04437B;
    padding: 1vh;
}