*{
    margin: 0;
    padding:0;
}
.carrossel{
    width: 400px;
    height: 400px;
    outline: 3px solid black;

    margin: 50px auto;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
    overflow: hidden;
}

.carrossel ul{
    display: flex;
    list-style: none;
    top:400px;
    right: 400px;
    bottom: 400px;
    left: 400px;
}

.carrossel li{
    position: relative;
    animation: slide 15s infinite ease-out
}

@keyframes slide{
    0%{left: 0}
    20%{left:0}
    25%{left: -400px}
    40%{left:-400px}
    50%{left:-800px}
    65%{left:-800px}
    75%{left:-1200px}
    90%{left:-1200px}
    100%{left:0}
}